#root {
  text-align: center;
  display: flex;
  min-height: 100vh;
  overflow: hidden;
  /* background: linear-gradient(black, #999); */
  background-color: ghostwhite;
  font-family: "Hack", sans-serif;
}

* {
  user-select: none;
}

.image {
  content:url(./logo.png);
  width: 300px;
  height: 300px;
}

.row {
  display: flex;
  flex-direction: row;
  margin: auto;
}

.promise {
  margin:10%;
  margin-top: 20%;
  font-size: larger;
}

.leftblock {
  border-right: 1px dashed;
  border-image:  linear-gradient(
    to bottom, 
    black 65%, 
    rgba(0, 0, 0, 0)
  ) 1 100%;
  min-width: 20vw;
}

.rightblock {
  border-left: 1px dotted;
  border-image:  linear-gradient(
    to bottom, 
    black 65%, 
    rgba(0, 0, 0, 0)
  ) 1 100%;
  min-width: 20vw;
}

.middleblock {
  
}

.rightbutt {

}

h1 {
  color: black;
  text-shadow: 0px 0px 60px 0px rgba(0,0,0,0.30);
}

h2 {
  color: black;
}

.explain {
  display:flex;
}

.twoInfo {
  margin-top: 2%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.swipe {
  position: absolute;
}

.space {
  height: 5vh;
}

.cardContainer {
  width: 90vw;
  max-width: 260px;
  height: 300px;
  margin-bottom: 25%;
  margin: auto;
  transition: all .4s ease;
}

.card {
  position:absolute;
  background-color: white;
  border: black;
  border-style:double;
  border-width:thin;
  width: 80vw;
  max-width: 260px;
  height: 300px;
  /* box-shadow: 0px 0px 60px 0px rgba(0,0,0,0.30); */
  /* border-radius: 20px; */
  background-size: cover;
  background-position: center;
  transition: all .4s ease;
  flex-shrink: 0;
}

.card:hover {
  position: relative;
  width: 350px;
  height: 310px;
  background: white;
  border-radius: 0% 0% 0% 0% / 0% 0% 0% 0% ;
  box-shadow: 15px 15px rgba(0,0,0);
  transition: all .4s ease;
}

.cardContent {
  width: 100%;
  height: 100%;
}

.swipe:last-of-type {

}

.card h3 {
  position: absolute;
  bottom: 0;
  margin: 10px;
  color: black;
}

.infoText {
  justify-content: center;
  display: flex;
  color: black;
  animation-name: popup;
  animation-duration: 800ms;
  margin: auto;
}

.buttons {
  display: flex;
  margin-right: 100px;
  margin-left: 100px;
  margin-top: 5%;
  flex-wrap: wrap;
  justify-content: center;
}

@media (max-width: 800px) {
  .buttons {
    flex-direction: column;
  }
}

.buttons button {
  flex-shrink: 0;
  padding: 10px;
  border: black;
  border-style:double;
  border-width:thin;
  color: black;
  font-size: 18px;
  font-weight:bold;
  background-color: white;
  transition: 200ms;
  margin: 10px;
  width: 160px;
  /* box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.10); */
}

.buttons button:hover {
  transform: scale(1.05);
  color: black;
  position: relative;
  border: black;
  border-style:double;
  border-width:thin;
  background: white;
  box-shadow: 5px 5px rgba(0,0,0);
  transition: all .4s ease;
}

.buttonsright {
  margin:auto;
  margin-top: 40%;
  margin-left: 30%;
  display: flex;
  flex-direction: column;
  flex-wrap:wrap;
}

.buttonsright button {
  flex-shrink: 0;
  padding: 10px;
  border: black;
  border-style:double;
  border-width:thin;
  border-radius: 5px;
  color: black;
  font-size: 18px;
  font-weight:bold;
  background-color: white;
  transition: 200ms;
  margin: 10px;
  width: 160px;
  /* box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.10); */
}

.buttonsright button:hover {
  transform: scale(1.05);
  color: black;
  position: relative;
  border: black;
  border-style:double;
  border-width:thin;
  background: white;
  box-shadow: 5px 5px rgba(0,0,0);
  transition: all .4s ease;
}

@keyframes popup {
  0%   { transform: scale(1,1) }
  10%  { transform: scale(1.1,1.1) }
  30%  { transform: scale(.9,.9) }
  50%  { transform: scale(1,1) }
  57%  { transform: scale(1,1) }
  64%  { transform: scale(1,1) }
  100% { transform: scale(1,1) }
}
